In [83]:
file = 'data3_problem3.txt'
data= []
with open(file,'r') as f:
    for line in f:
        data.append(line.strip())
data[0:5]

['computer', 'computer', 'the', 'the', 'the']

In [84]:
length=len(data)
V = list(set(data))
H = {'computer':0.1, 'interesting':0.5, 'the':0.1, 'data':0.1, 'game':0.1, 'baseball':0.1}
T = {'computer':0.2, 'interesting':0.1, 'the':0.25, 'data':0.2, 'game':0.1, 'baseball':0.15}
HW = {'computer':0.2, 'interesting':0.2, 'the':0.2, 'data':0.2, 'game':0.2, 'baseball':0.2}
lam = 0.9

V

['interesting', 'data', 'game', 'the', 'computer', 'baseball']

In [85]:
count = {x : data.count(x) for x in V}

In [86]:
n=1
for i in range(n):
    for x in V:
        HW[x] = lam*(H[x])/(lam*H[x] + (1-lam)*T[x])
        H[x] = HW[x]*count[x]/(lam*length)

In [87]:
H

{'baseball': 0.014476190476190476,
 'computer': 0.2651909090909091,
 'data': 0.01838181818181818,
 'game': 0.3701,
 'interesting': 0.1087391304347826,
 'the': 0.17628695652173915}

In [88]:
n=100
for i in range(n):
    for x in V:
        HW[x] = lam*(H[x])/(lam*H[x] + (1-lam)*T[x])
        H[x] = HW[x]*count[x]/(lam*length)

In [89]:
H

{'baseball': 0.0003010519566917575,
 'computer': 0.3019,
 'data': 0.0003650729851197951,
 'game': 0.4001111111111111,
 'interesting': 0.10004444444444445,
 'the': 0.19747777777777778}

In [92]:
true_prob = {x : data.count(x)/length for x in V}
true_prob

{'baseball': 0.0152,
 'computer': 0.29171,
 'data': 0.02022,
 'game': 0.3701,
 'interesting': 0.10004,
 'the': 0.20273}

In [93]:
HW

{'baseball': 0.8571428571428572,
 'computer': 0.8181818181818181,
 'data': 0.8181818181818181,
 'game': 0.9,
 'interesting': 0.9782608695652174,
 'the': 0.782608695652174}

In [2]:
file = 'data4_problem4.txt'
data= []
with open(file,'r') as f:
    for line in f:
        data.append(line.strip())
data[0:5]

['0\tmount mount rainier seattle seattle rainier rainier rainier seattle seattle mount mount rainier mount mount seattle mount mount seattle mount seattle mount seattle rainier mount mount rainier rainier mount mount seattle mount mount mount rainier rainier mount seattle seattle seattle seattle rainier rainier mount rainier seattle mount mount seattle mount mount seattle seattle rainier seattle seattle mount rainier mount mount mount rainier mount mount seattle mount mount rainier seattle seattle seattle seattle rainier mount mount rainier seattle seattle mount rainier seattle seattle rainier seattle seattle mount rainier seattle seattle seattle rainier mount rainier mount rainier seattle rainier rainier seattle seattle',
 '0\tseattle mount seattle rainier rainier rainier rainier seattle rainier seattle rainier rainier rainier seattle rainier rainier seattle mount rainier rainier rainier mount rainier rainier mount rainier mount seattle seattle rainier mount mount seattle seattle seattle mount mount rainier mount rainier rainier seattle rainier rainier mount rainier mount mount rainier mount rainier seattle seattle seattle seattle rainier seattle seattle rainier rainier mount mount seattle mount mount rainier rainier rainier seattle rainier rainier seattle rainier rainier mount rainier seattle seattle rainier seattle seattle rainier mount mount rainier rainier rainier seattle mount seattle seattle rainier rainier seattle rainier rainier rainier seattle rainier rainier',
 '1\twillis tower willis willis willis chicago chicago willis tower willis tower tower tower tower willis tower willis tower seattle chicago willis tower tower mount seattle willis mount chicago tower chicago chicago tower chicago chicago willis chicago willis chicago willis tower seattle mount chicago willis tower tower chicago willis tower seattle willis chicago seattle tower tower chicago chicago willis tower chicago chicago tower tower tower seattle willis tower mount chicago willis chicago willis chicago willis tower willis tower willis willis tower tower willis tower willis willis chicago chicago seattle tower tower willis tower tower willis willis tower chicago willis seattle willis',
 '1\twillis mount tower tower willis mount tower mount tower willis willis tower chicago willis tower tower chicago chicago tower chicago tower willis chicago chicago tower chicago tower chicago mount willis chicago willis chicago tower mount tower tower willis chicago chicago tower chicago willis tower seattle tower tower tower tower willis tower tower tower chicago tower willis tower tower chicago chicago chicago willis tower willis willis willis chicago chicago chicago willis chicago tower tower willis chicago willis tower tower seattle seattle chicago chicago tower tower chicago chicago seattle chicago seattle tower mount chicago chicago tower willis chicago tower seattle tower willis',
 '1\twillis chicago tower willis willis tower mount tower chicago chicago willis chicago seattle tower willis tower tower tower tower chicago tower chicago willis willis willis willis chicago mount tower willis willis willis willis willis tower willis chicago tower chicago tower chicago willis chicago tower tower chicago tower willis tower tower tower willis tower chicago chicago seattle chicago tower chicago chicago chicago tower mount seattle chicago chicago chicago chicago tower mount willis tower tower willis chicago chicago willis willis tower tower willis willis tower chicago chicago willis tower seattle tower willis tower willis willis seattle willis willis seattle chicago tower tower']

In [48]:
data[0:2]
V = ['seattle', 'mount', 'rainier', 'chicago', 'willis', 'tower']

In [60]:
z0 = []
z1 = []
count_w0 = {'seattle':0, 'mount':0, 'rainier':0, 'chicago':0, 'willis':0, 'tower':0}
count_w1 = {'seattle':0, 'mount':0, 'rainier':0, 'chicago':0, 'willis':0, 'tower':0}
w_z0 = {'seattle':0, 'mount':0, 'rainier':0, 'chicago':0, 'willis':0, 'tower':0}
w_z1 = {'seattle':0, 'mount':0, 'rainier':0, 'chicago':0, 'willis':0, 'tower':0}
for x in data[0:100]:
    if x[0] == '0':
        z0.append(x[2:])
        for y in V:
            count_w0[y] += x.count(y)
    elif x[0] == '1':
        z1.append(x[2:])
        for y in V:
            count_w1[y] += x.count(y)
            
for x in V:
    w_z0[x] = count_w0[x]/sum(count_w0.values())
    w_z1[x] = count_w1[x]/sum(count_w1.values())

In [71]:
z0_d = sum(count_w0.values())/(sum(count_w0.values())+sum(count_w1.values()))  
z1_d = 1-z0_d

In [82]:
w_z1

{'chicago': 0.2828888888888889,
 'mount': 0.05555555555555555,
 'rainier': 0.0,
 'seattle': 0.05311111111111111,
 'tower': 0.29777777777777775,
 'willis': 0.31066666666666665}

In [63]:
count_w0

{'chicago': 0,
 'mount': 1677,
 'rainier': 2129,
 'seattle': 1694,
 'tower': 0,
 'willis': 0}

In [64]:
sum(count_w0.values())

5500

In [59]:
count_w1

{'chicago': 1273,
 'mount': 250,
 'rainier': 0,
 'seattle': 239,
 'tower': 1340,
 'willis': 1398}

In [46]:
z0[0:2].count('mount')

0

In [47]:
z0[0:2]

['mount mount rainier seattle seattle rainier rainier rainier seattle seattle mount mount rainier mount mount seattle mount mount seattle mount seattle mount seattle rainier mount mount rainier rainier mount mount seattle mount mount mount rainier rainier mount seattle seattle seattle seattle rainier rainier mount rainier seattle mount mount seattle mount mount seattle seattle rainier seattle seattle mount rainier mount mount mount rainier mount mount seattle mount mount rainier seattle seattle seattle seattle rainier mount mount rainier seattle seattle mount rainier seattle seattle rainier seattle seattle mount rainier seattle seattle seattle rainier mount rainier mount rainier seattle rainier rainier seattle seattle',
 'seattle mount seattle rainier rainier rainier rainier seattle rainier seattle rainier rainier rainier seattle rainier rainier seattle mount rainier rainier rainier mount rainier rainier mount rainier mount seattle seattle rainier mount mount seattle seattle seattle mount mount rainier mount rainier rainier seattle rainier rainier mount rainier mount mount rainier mount rainier seattle seattle seattle seattle rainier seattle seattle rainier rainier mount mount seattle mount mount rainier rainier rainier seattle rainier rainier seattle rainier rainier mount rainier seattle seattle rainier seattle seattle rainier mount mount rainier rainier rainier seattle mount seattle seattle rainier rainier seattle rainier rainier rainier seattle rainier rainier']

In [56]:
data[0].count('seattle')

36

In [79]:
test = data[100:110]
count_w = {'seattle':0, 'mount':0, 'rainier':0, 'chicago':0, 'willis':0, 'tower':0}

In [81]:
for x in test:
    for y in V:
        count_w[y] = x.count(y)
    print(count_w)

{'seattle': 15, 'mount': 11, 'rainier': 11, 'chicago': 24, 'willis': 29, 'tower': 10}
{'seattle': 20, 'mount': 12, 'rainier': 12, 'chicago': 22, 'willis': 16, 'tower': 18}
{'seattle': 8, 'mount': 8, 'rainier': 4, 'chicago': 27, 'willis': 31, 'tower': 22}
{'seattle': 21, 'mount': 16, 'rainier': 11, 'chicago': 12, 'willis': 24, 'tower': 16}
{'seattle': 34, 'mount': 29, 'rainier': 36, 'chicago': 1, 'willis': 0, 'tower': 0}
{'seattle': 24, 'mount': 34, 'rainier': 33, 'chicago': 1, 'willis': 3, 'tower': 5}
{'seattle': 29, 'mount': 22, 'rainier': 39, 'chicago': 3, 'willis': 3, 'tower': 4}
{'seattle': 26, 'mount': 28, 'rainier': 37, 'chicago': 4, 'willis': 4, 'tower': 1}
{'seattle': 8, 'mount': 18, 'rainier': 13, 'chicago': 17, 'willis': 23, 'tower': 21}
{'seattle': 28, 'mount': 23, 'rainier': 27, 'chicago': 6, 'willis': 5, 'tower': 11}

In [ ]:
#1111000010